<template>
    <div>
        <h1 class="page-header">Wykaz firm</h1>
        <br />
        Naciśnij na nazwę firmy, żeby zobaczyć więcej szczegółów:
        <table-of-organizations :organizations="companies" kindOfOrganization="firma"></table-of-organizations>
    </div>
</template>
<script>
    import TableOfOrganizations from "../../TableOfOrganizations.vue";

    export default {
        props: ["companies"],
        components: {
            TableOfOrganizations
        },
    }
</script>
<style>

</style>
