<template>
    <div class="container">
        <div class="row">
            <h1 style="text-align: center">Login</h1>
            <div style="width: 30%; margin: 25px auto;">
                <form action="/login" method="post">
                    <div class="form-group">
                        <input class="form-control" type="text" name="username" placeholder="username">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="password" name="password" placeholder="password">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-lg btn-primary btn-block">Login</button>
                    </div>
                </form>
                <a href="/">Go Back</a>
            </div>
        </div>
    </div>
</template>
<script>

</script>
<style>

</style>
