<template>
    <div>
        <div class="jumbotron">
          <h1 class="display-4">Wybór Studiów</h1>
          <p class="lead">Miejsce w internecie, którego zadaniem jest pomóc Tobie w podjęciu jednej, dosyć ważnej, decyzji po maturze</p>
          <hr class="my-4">
          <!-- <p class="lead">
            <a class="btn btn-outline-primary btn-lg" href="#" role="button">Wykaz uczelni</a>
            <a class="btn btn-outline-primary btn-lg" href="#" role="button">Wykaz firm</a> -->
          </p>
        </div>
        <div class="text-content">
            <h2>Do kogo skierowany jest ten portal?</h2>
            Portal skierowany jest do każdego, kto zainteresowany jest podjęciem studiów na jednej z uczelni, która ściśle i na jasnych
            zasadach <strong>współpracuje z binesem</strong>. Nie obchodzą go różne rankingi tworzone w zawiły sposób, z których niewiele
             wynika. Szuka uczelni, które faktycznie programem naucznia odpowiadają na potrzeby rynku pracy. <hr />
            <h2 style="margin-top: 20px">Dlaczego taki portal powstał?</h2>
            Kilka lat temu, jak większość moich rówieśników, poszedłem na studia. Nie wiedziałem, czego się spodziewać, jednak wypowiedzi studentów
            na różnych forach internetowych nie napawały optymizmem. Narzekali oni, że studia "nie przygotowują do pracy". Problem zdawało się
            widzieć więcej osób, czasami wspominały o tym jakieś gazety. Profesorowie i wykładowcy odpowiadali, że studia nie są "wyższymi
            szkołami zawodowymi" i zadaniem uczelni nie jest przygotowanie do pracy. Po części mieli rację, ale razem z moimi znajomymi
            liczyliśmy na to, że na studiach nauczymy się czegoś, co będziemi mogli wykorzystać w przyszłej pracy, związanej poniekąd z podjętym przez
            nas kierunkiem edukacji. Sporo z nas się roczarowało nauką na studiach i przede wszystkim odzwierciedleniem zdobywanej wiedzy
            w potrzebach rynku. Wtedy uznałem, że taki stan rzeczy fajnie byłoby zmienić i rozpocząłem pracę nad projektem,
            którego kluczowym elementem miał być portal internetowy mówiący o współpracy polskich uczelni z biznesem.<hr />
            <h2 style="margin-top: 20px">Jak korzystać z portalu?</h2>
            Na tym portalu gromadzone są informacje o współpracy między uczelniami i różnymi firmami. Domyślam, że znacie lub słyszeliście o
            kilku polskich uczelniach (przynajmniej ze swojego regionu), więc zachęcam, abyście sprawdzili, czy mamy je w naszej bazie. Żeby to zrobić
            wybierzcie przycisk "Wykaz uczelni" w górnym menu, znajdźcie inetersującą Was uczelnię i sprawadźcie z jakimi firmami i na
            jakich zasadach współpracuje. <br /><br />
            Jeżeli insteresuje Was praca w jakiejś konkretnej firmie wybierzcie "Wykaz firm" z górnego menu i sprawdźcie z jakimi uczelniami
            i na jakich zasadach firma ta współpracuje.
            <!-- Studia dualne to nowe rozwiązanie zaproponowane przez Ministerstwo Nauki i Szkolnictwa Wyższego.
            Zakłada ono, że student, w trakcie studiów, część zajęć realizuje w firmie, której działalność związana jest z kierunkiem jego edukacji.
            Jednym z ważniejszych tego aspektów jest to, że student jest w tej firmie zatrudniony i pobiera za swoją pracę wynagrodzenie. W przypadku
            uczelni prywatnych, które prowadzą studia dualne, wynagrodzenie to często pokrywa czesne (czyli opłatę za studiowanie), więc student może na
            takiej uczelni studiować "za darmo".<br /><br /><br />
            Sprawdź, czy uczelnia, którą jesteś zaintersowany prowadzi studia dualne (naciśnij "wykaz uczelni" w menu po lewej stronie).<br /><br />
            A może jesteś zaintersowany pracą w jakiejś wymarzonej przez siebie firmie? Sprawdź, czy mamy ją w naszym wykazie i zobacz, z którą uczelnią firma
             ta współpracuje (naciśnij "wykaz frim"). -->
        </div>
    </div>
</template>
<script>

</script>
<style>

</style>
