<template>
    <div class="row">
        <h1 style="text-align: center">Edit Cooperation</h1>
        <div style="width: 30%; margin: 25px auto;">
            <form v-bind:action="url" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="idUczelni" placeholder="idUczelni" v-bind:value="cooperation.university._id">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="idFirmy" placeholder="idFirmy" v-bind:value="cooperation.company._id">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="zasadyWspolpracy" placeholder="zasadyWspolpracy" v-bind:value="cooperation.zasadyWspolpracy">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Ocena redakcji</label>
                    <select class="form-control" id="exampleFormControlSelect1" name="ocenaRedakcji" v-bind:value="cooperation.ocenaRedakcji">
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                    </select>
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
            </form>
            <a href="/wspolpraca">Go Back</a>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                cooperation: "Wspolpraca"
            }
        },
        computed: {
            url() {
                return ("/wspolpraca/" + this.$route.params.universityId + "/" + this.$route.params.companyId + "?_method=PUT");
            }
        },
        methods: {
            getData: function() {
                this.$http
                    .get('/wspolpraca/' + this.$route.params.universityId + "/" + this.$route.params.companyId + "/edit")
                    .then(response => {
                        console.log(response);
                        this.cooperation = response.body;
                    }, response => {
                        console.log("error w edit");
                });
            },
        },
        mounted() {
            this.getData();
        }
    }
</script>
<style>

</style>
