<template>
    <div class="row">
        <h1 style="text-align: center">Add New Cooperation</h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/wspolpraca" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="idUczelni" placeholder="idUczelni">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="idFirmy" placeholder="idFirmy">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="zasadyWspolpracy" placeholder="zasadyWspolpracy">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Ocena redakcji</label>
                    <select class="form-control" id="exampleFormControlSelect1" name="ocenaRedakcji">
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                    </select>
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
            </form>
            <a href="/wspolpraca">Go Back</a>
        </div>
    </div>
</template>
<script>

</script>
<style>

</style>
