<template>
    <div style="margin-top: 20px">
        <keep-alive>
            <router-view :companies="companies" :universities="universities"></router-view>
        </keep-alive>
    </div>
</template>

<script>
export default {
    props: ["companies", "universities"]
}
</script>

<style>

</style>
