<template>
    <nav class="col-sm-3 col-md-2 bg-light hidden-xs sidebar">
        <ul class="nav nav-sidebar">
            <li v-on:click="wyborKarty('home')" v-bind:class="{focus: isHome}"><router-link :to="{ name: 'home' }">Strona Główna</span><i class="fa fa-newspaper-o fa-lg pull-right"></i></router-link></li>
            <li v-on:click="wyborKarty('universities')" v-bind:class="{focus: isUniversities}"><router-link :to="{ name: 'index_of_universities' }">Wykaz uczelni<i class="fa fa-graduation-cap fa-lg pull-right"></i></router-link></li>
            <li v-on:click="wyborKarty('companies')" v-bind:class="{focus: isCompanies}"><router-link :to="{ name: 'index_of_companies' }">Wykaz firm<i class="fa fa-briefcase fa-lg pull-right"></i></router-link></li>
        </ul>
    </nav>
</template>
<script>
    export default {
        props:["cart"],
        computed: {
            isHome() {
                return this.cart === "home";
            },
            isUniversities() {
                return this.cart === "universities";
            },
            isCompanies() {
                return this.cart === "companies";
            }
        },
        methods: {
            wyborKarty(value) {
                this.$emit("wyborkarty", value);
            },
            isActive(value) {
                return this.cart === value;
            }
        }
    }
</script>

<style>

.sidebar {
    position: fixed;
    top: 0px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 6% 20px 20px 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #404040;
    border-right: 1px solid #eee;
}
.nav-sidebar {
    background-color: #404040;
    margin-right: -21px;
    margin-bottom: 20px;
    margin-left: -20px;
}
.nav-sidebar > li > a {
    padding-right: 15px;
    padding-left: 15px;
    color: white;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #8c8c8c;
}

i {
    margin: 5px 10px 10px 10px;
}

.focus {
    background-color: #8c8c8c !important;
}
</style>
