<template>
    <div><br />
        <table>
            <tr>
                <th>Lp.</th>
                <th>{{this.kindOfOrganization}}</th>
                <!-- <th>Liczba ubiegłorocznych studentów objętych programem współpracy z biznesem</th> -->
            </tr>
            <tr v-for="(organization, index) in organizations">
                <td>{{index+1}}.</td>
                <td><router-link :to="{ name: url, params: {id: organization._id} }">{{organization.name}}</router-link></td>
            </tr>
        </table>
    </div>
</template>
<script>
    export default({
        props:["organizations", "kindOfOrganization"],
        computed: {
            url() {
                if (this.kindOfOrganization === "uczelnia") {
                    return "show_university";
                } else {
                    return "show_company";
                }
            }
        }
    })
</script>
<style>
th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #fc4646;
}
</style>
