<template>
    <div class="row">
        <h1 style="text-align: center">Edit University</h1>
        <div style="width: 30%; margin: 25px auto;">
            <form v-bind:action="url" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="name" placeholder="nazwa" v-bind:value="university.name">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="image" placeholder="logo" v-bind:value="university.img">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="description" placeholder="description" v-bind:value="university.description">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
            </form>
            <a href="/uczelnie">Go Back</a>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                university: "uniwersytet"
            }
        },
        computed: {
            url() {
                console.log("/uczelnie/".concat(this.university._id).concat("?_method=PUT"));
                return "/uczelnie/".concat(this.university._id).concat("?_method=PUT");
            }
        },
        methods: {
            getData: function() {
                this.$http
                    .get('/uczelnie/'.concat(this.$route.params.id).concat("/edit"))
                    .then(response => {
                        this.university = response.body;
                        console.log(this.university);
                        console.log("/uczelnie/".concat(this.university._id).concat("?_method=PUT"));
                    }, response => {
                        console.log("error");
                });
            },
        },
        mounted() {
            this.getData();
        }
    }
</script>
<style>

</style>
