<template>
    <div>
        <h1 class="page-header">Wykaz uczelni</h1>
        <br />
        Naciśnij na nazwę uczelni, żeby zobaczyć więcej szczegółów:
        <table-of-organizations :organizations="universities" kindOfOrganization="uczelnia"></table-of-organizations>
    </div>
</template>
<script>
    import TableOfOrganizations from "../../TableOfOrganizations.vue";

    export default {
        props: ["universities"],
        components: {
            TableOfOrganizations
        }
    }
</script>
<style>

</style>
