<template>
    <div>
        <h1 style="text-align: center">Create a New University</h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/uczelnie" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="name" placeholder="name">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="image" placeholder="image url">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="description" placeholder="description">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
            </form>
        </div>
    </div>
</template>
<script>

</script>
<style>

</style>
